In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from pandas import ExcelWriter
from pandas import ExcelFile

#load the train dataset
df = pd.read_excel('Junior Data Analyst Data for Case Study.xlsx', engine='openpyxl', sheet_name='Query result')
df.head()

,Personal or Business,Business Number,Vehicle Type,Standard or Express,Platform,Cancel Reason,Cancelled by,Placement Day,Placement Time,Confirmation Day,Confirmation Time,Cancellation Day,Cancellation Time,Distance (KM),Pickup Lat,Pickup Long,scheduled
0,Personal,NaN,Bike,Express,android,No driver has been allocated to my request.,Customer,1.0,17:55:38,NaN,None,1.0,17:56:35,9.0,-1.313053,36.841437,OnDemAND
1,Personal,NaN,Bike,Express,android,My order is not ready.,Customer,1.0,12:26:27,1.0,12:27:36,1.0,12:28:44,14.0,-1.318959,36.853394,OnDemAND
2,Business,20680.0,Bike,Express,android,I placed the wrong locations.,Customer,1.0,13:21:18,1.0,13:21:34,1.0,13:47:29,16.0,-1.313854,36.706867,OnDemAND
3,Personal,NaN,Bike,Express,android,My order is not ready.,Customer,1.0,10:29:19,NaN,None,1.0,10:29:29,20.0,-1.206197,36.778776,OnDemAND
4,Personal,NaN,Bike,Standard,ios,No Partner,Staff,1.0,14:34:05,1.0,14:59:08,1.0,15:49:41,11.0,-1.296958,36.808166,OnDemAND

In [2]:
df['id'] = range(1, len(df) + 1)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6406 entries, 0 to 6405
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Personal or Business  6398 non-null   object
 1   Business Number       3064 non-null   float64
 2   Vehicle Type          6398 non-null   object
 3   Standard or Express   6393 non-null   object
 4   Platform              6398 non-null   object
 5   Cancel Reason         6398 non-null   object
 6   Cancelled by          6398 non-null   object
 7   Placement Day         6398 non-null   float64
 8   Placement Time        6398 non-null   object
 9   Confirmation Day      2882 non-null   float64
 10  Confirmation Time     2882 non-null   object
 11  Cancellation Day      6398 non-null   float64
 12  Cancellation Time     6398 non-null   object
 13  Distance (KM)         6398 non-null   float64
 14  Pickup Lat            6398 non-null   float64
 15  Pickup Long           6398 non-null   float64
 16  scheduled             6398 non-null   object
 17  id                    6406 non-null   int64
dtypes: float64(7), int64(1), object(10)
memory usage: 901.0+ KB

In [4]:
df= df.fillna(0)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6406 entries, 0 to 6405
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Personal or Business  6406 non-null   object
 1   Business Number       6406 non-null   float64
 2   Vehicle Type          6406 non-null   object
 3   Standard or Express   6406 non-null   object
 4   Platform              6406 non-null   object
 5   Cancel Reason         6406 non-null   object
 6   Cancelled by          6406 non-null   object
 7   Placement Day         6406 non-null   float64
 8   Placement Time        6406 non-null   object
 9   Confirmation Day      6406 non-null   float64
 10  Confirmation Time     6406 non-null   object
 11  Cancellation Day      6406 non-null   float64
 12  Cancellation Time     6406 non-null   object
 13  Distance (KM)         6406 non-null   float64
 14  Pickup Lat            6406 non-null   float64
 15  Pickup Long           6406 non-null   float64
 16  scheduled             6406 non-null   object
 17  id                    6406 non-null   int64
dtypes: float64(7), int64(1), object(10)
memory usage: 901.0+ KB

In [6]:
df['Cancellation Time'] = pd.to_timedelta(df['Cancellation Time'].astype(str))

df['diff'] = df['Cancellation Time'].diff()
df['mask'] = df['Cancellation Time'].diff() > pd.Timedelta(5, unit='s')
df.head()

,Personal or Business,Business Number,Vehicle Type,Standard or Express,Platform,Cancel Reason,Cancelled by,Placement Day,Placement Time,Confirmation Day,Confirmation Time,Cancellation Day,Cancellation Time,Distance (KM),Pickup Lat,Pickup Long,scheduled,id,diff,mask
0,Personal,0.0,Bike,Express,android,No driver has been allocated to my request.,Customer,1.0,17:55:38,0.0,0,1.0,0 days 17:56:35,9.0,-1.313053,36.841437,OnDemAND,1,NaT,False
1,Personal,0.0,Bike,Express,android,My order is not ready.,Customer,1.0,12:26:27,1.0,12:27:36,1.0,0 days 12:28:44,14.0,-1.318959,36.853394,OnDemAND,2,-1 days +18:32:09,False
2,Business,20680.0,Bike,Express,android,I placed the wrong locations.,Customer,1.0,13:21:18,1.0,13:21:34,1.0,0 days 13:47:29,16.0,-1.313854,36.706867,OnDemAND,3,0 days 01:18:45,True
3,Personal,0.0,Bike,Express,android,My order is not ready.,Customer,1.0,10:29:19,0.0,0,1.0,0 days 10:29:29,20.0,-1.206197,36.778776,OnDemAND,4,-1 days +20:42:00,False
4,Personal,0.0,Bike,Standard,ios,No Partner,Staff,1.0,14:34:05,1.0,14:59:08,1.0,0 days 15:49:41,11.0,-1.296958,36.808166,OnDemAND,5,0 days 05:20:12,True

In [7]:
df['Cancellation Time'] = pd.to_timedelta(df['Cancellation Time'])
diff = df['Cancellation Time'].diff()
mask = df['Cancellation Time'].diff() > pd.Timedelta(5, unit='s')
df['new'] = diff.where(mask)
df.head()

,Personal or Business,Business Number,Vehicle Type,Standard or Express,Platform,Cancel Reason,Cancelled by,Placement Day,Placement Time,Confirmation Day,...,Cancellation Day,Cancellation Time,Distance (KM),Pickup Lat,Pickup Long,scheduled,id,diff,mask,new
0,Personal,0.0,Bike,Express,android,No driver has been allocated to my request.,Customer,1.0,17:55:38,0.0,...,1.0,0 days 17:56:35,9.0,-1.313053,36.841437,OnDemAND,1,NaT,False,NaT
1,Personal,0.0,Bike,Express,android,My order is not ready.,Customer,1.0,12:26:27,1.0,...,1.0,0 days 12:28:44,14.0,-1.318959,36.853394,OnDemAND,2,-1 days +18:32:09,False,NaT
2,Business,20680.0,Bike,Express,android,I placed the wrong locations.,Customer,1.0,13:21:18,1.0,...,1.0,0 days 13:47:29,16.0,-1.313854,36.706867,OnDemAND,3,0 days 01:18:45,True,0 days 01:18:45
3,Personal,0.0,Bike,Express,android,My order is not ready.,Customer,1.0,10:29:19,0.0,...,1.0,0 days 10:29:29,20.0,-1.206197,36.778776,OnDemAND,4,-1 days +20:42:00,False,NaT
4,Personal,0.0,Bike,Standard,ios,No Partner,Staff,1.0,14:34:05,1.0,...,1.0,0 days 15:49:41,11.0,-1.296958,36.808166,OnDemAND,5,0 days 05:20:12,True,0 days 05:20:12

In [8]:
df[['hour','minute','second']] = pd.to_timedelta(df['Cancellation Time']).dt.components.iloc[:, 1:4]
df.head()

,Personal or Business,Business Number,Vehicle Type,Standard or Express,Platform,Cancel Reason,Cancelled by,Placement Day,Placement Time,Confirmation Day,...,Pickup Lat,Pickup Long,scheduled,id,diff,mask,new,hour,minute,second
0,Personal,0.0,Bike,Express,android,No driver has been allocated to my request.,Customer,1.0,17:55:38,0.0,...,-1.313053,36.841437,OnDemAND,1,NaT,False,NaT,17,56,35
1,Personal,0.0,Bike,Express,android,My order is not ready.,Customer,1.0,12:26:27,1.0,...,-1.318959,36.853394,OnDemAND,2,-1 days +18:32:09,False,NaT,12,28,44
2,Business,20680.0,Bike,Express,android,I placed the wrong locations.,Customer,1.0,13:21:18,1.0,...,-1.313854,36.706867,OnDemAND,3,0 days 01:18:45,True,0 days 01:18:45,13,47,29
3,Personal,0.0,Bike,Express,android,My order is not ready.,Customer,1.0,10:29:19,0.0,...,-1.206197,36.778776,OnDemAND,4,-1 days +20:42:00,False,NaT,10,29,29
4,Personal,0.0,Bike,Standard,ios,No Partner,Staff,1.0,14:34:05,1.0,...,-1.296958,36.808166,OnDemAND,5,0 days 05:20:12,True,0 days 05:20:12,15,49,41

In [9]:
from sklearn.preprocessing import LabelEncoder

labelEn = LabelEncoder()

df['Personal or Business'] = labelEn.fit_transform(df['Personal or Business'].astype(str))
df['Vehicle Type'] = labelEn.fit_transform(df['Vehicle Type'].astype(str))
df['Standard or Express'] = labelEn.fit_transform(df['Standard or Express'].astype(str))
df['Platform'] = labelEn.fit_transform(df['Platform'].astype(str))
df['Cancel Reason'] = labelEn.fit_transform(df['Cancel Reason'].astype(str))
df['Cancelled by'] = labelEn.fit_transform(df['Cancelled by'].astype(str))
df['scheduled'] = labelEn.fit_transform(df['scheduled'].astype(str))

In [10]:
#dropping the columns we don't need
df = df.drop(['Placement Time','Cancellation Time','Confirmation Time','diff','mask','new'], axis = 1)

In [11]:
df.head()

,Personal or Business,Business Number,Vehicle Type,Standard or Express,Platform,Cancel Reason,Cancelled by,Placement Day,Confirmation Day,Cancellation Day,Distance (KM),Pickup Lat,Pickup Long,scheduled,id,hour,minute,second
0,2,0.0,1,1,2,6,1,1.0,0.0,1.0,9.0,-1.313053,36.841437,1,1,17,56,35
1,2,0.0,1,1,2,4,1,1.0,1.0,1.0,14.0,-1.318959,36.853394,1,2,12,28,44
2,1,20680.0,1,1,2,3,1,1.0,1.0,1.0,16.0,-1.313854,36.706867,1,3,13,47,29
3,2,0.0,1,1,2,4,1,1.0,0.0,1.0,20.0,-1.206197,36.778776,1,4,10,29,29
4,2,0.0,1,2,4,5,2,1.0,1.0,1.0,11.0,-1.296958,36.808166,1,5,15,49,41

In [12]:
from sklearn.model_selection import train_test_split, KFold, GridSearchCV, RandomizedSearchCV
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import precision_score, recall_score, precision_recall_curve,f1_score, fbeta_score, confusion_matrix, make_scorer, accuracy_score
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score, roc_curve, auc, log_loss

In [13]:
X1, y1 = df.drop(columns=['Cancel Reason','id'],axis=1),df['Cancel Reason']

from imblearn.over_sampling import SMOTE
X, y = SMOTE(random_state=42).fit_resample(X1,y1)


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=2)

In [14]:
forest = RandomForestClassifier(n_estimators=100, max_depth=7, max_features=12)
forest.fit(X_train, y_train)
forest.score(X_train, y_train)

print("The score for Random Forest is")
#measuring the accuracy of the model against the training data(How well the model explains the data it was trained with)
print("Training: {:6.2f}%".format(100*forest.score(X_train, y_train)))

The score for Random Forest is
Training:  66.08%

In [15]:
forest_pred = forest.predict(X_test)

accuracy = accuracy_score(y_test, forest_pred)
print("Accuracy: %.3f%%" % (accuracy * 100.0))

Accuracy: 62.958%

In [16]:

from lightgbm import LGBMClassifier
light = LGBMClassifier()
light.fit(X_train, y_train)
lightP = light.predict(X_test)

lightAS = accuracy_score(y_test, lightP)
lightaccuracy = lightAS*100
lightaccuracy

75.77464788732394

In [17]:
print(classification_report(y_test, lightP))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       360
           1       0.88      0.92      0.90       355
           2       0.98      0.97      0.98       350
           3       0.55      0.46      0.50       348
           4       0.56      0.39      0.46       376
           5       0.90      0.85      0.88       336
           6       0.52      0.67      0.59       366
           7       0.68      0.81      0.74       349

    accuracy                           0.76      2840
   macro avg       0.76      0.76      0.76      2840
weighted avg       0.76      0.76      0.75      2840

In [18]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=10)
knn.fit(X_train, y_train)
knnP = knn.predict(X_test)

knnAS = accuracy_score(y_test, knnP)
knnaccuracy = knnAS*100
knnaccuracy

58.90845070422536

In [19]:
#Using Boosting model

from sklearn.ensemble import GradientBoostingClassifier

boostmodel = GradientBoostingClassifier()
boostmodel.fit(X_train, y_train)
boostmodelP = boostmodel.predict(X_test)

boostmodelAS = accuracy_score(y_test, boostmodelP)
boostaccuracy = boostmodelAS*100
boostaccuracy

67.95774647887323

In [20]:
#Use the new model to predict a new set of data
test_predictions = light.predict(X_test)
print(test_predictions)

[3 6 6 ... 1 1 7]

In [21]:
df1 = pd.read_excel('Junior Data Analyst Data for Case Study.xlsx', engine='openpyxl', sheet_name='Missing Cancel Reason')
df1.head()

,Personal or Business,Business Number,Vehicle Type,Standard or Express,Platform,Cancel Reason,Cancelled by,Placement Day,Placement Time,Confirmation Day,Confirmation Time,Cancellation Day,Cancellation Time,Distance (KM),Pickup Lat,Pickup Long,scheduled
0,Personal,NaN,Bike,Express,ios,NaN,Customer,1.0,15:23:44,1.0,16:40:47,1.0,16:43:50,4.0,-1.299370,36.822107,OnDemAND
1,Business,20680.0,Bike,Express,desktop,NaN,Staff,1.0,14:21:46,1.0,14:22:20,1.0,14:30:48,17.0,-1.264490,36.789303,OnDemAND
2,Business,17968.0,Bike,Express,desktop,NaN,Customer,1.0,15:13:20,NaN,None,1.0,15:56:34,18.0,-1.427056,36.961499,OnDemAND
3,Personal,NaN,Bike,Standard,android,NaN,Customer,1.0,13:54:19,NaN,None,1.0,13:56:41,8.0,-1.301737,36.743936,OnDemAND
4,Personal,NaN,Bike,Standard,android,NaN,Staff,1.0,13:24:05,1.0,15:57:20,1.0,17:14:46,13.0,-1.308098,36.920464,Scheduled

In [22]:
df1['id'] = range(1, len(df1) + 1)

In [23]:
df1['Cancellation Time'] = pd.to_timedelta(df1['Cancellation Time'].astype(str))

df1['diff'] = df1['Cancellation Time'].diff()
df1['mask'] = df1['Cancellation Time'].diff() > pd.Timedelta(5, unit='s')
df1.head()

,Personal or Business,Business Number,Vehicle Type,Standard or Express,Platform,Cancel Reason,Cancelled by,Placement Day,Placement Time,Confirmation Day,Confirmation Time,Cancellation Day,Cancellation Time,Distance (KM),Pickup Lat,Pickup Long,scheduled,id,diff,mask
0,Personal,NaN,Bike,Express,ios,NaN,Customer,1.0,15:23:44,1.0,16:40:47,1.0,0 days 16:43:50,4.0,-1.299370,36.822107,OnDemAND,1,NaT,False
1,Business,20680.0,Bike,Express,desktop,NaN,Staff,1.0,14:21:46,1.0,14:22:20,1.0,0 days 14:30:48,17.0,-1.264490,36.789303,OnDemAND,2,-1 days +21:46:58,False
2,Business,17968.0,Bike,Express,desktop,NaN,Customer,1.0,15:13:20,NaN,None,1.0,0 days 15:56:34,18.0,-1.427056,36.961499,OnDemAND,3,0 days 01:25:46,True
3,Personal,NaN,Bike,Standard,android,NaN,Customer,1.0,13:54:19,NaN,None,1.0,0 days 13:56:41,8.0,-1.301737,36.743936,OnDemAND,4,-1 days +22:00:07,False
4,Personal,NaN,Bike,Standard,android,NaN,Staff,1.0,13:24:05,1.0,15:57:20,1.0,0 days 17:14:46,13.0,-1.308098,36.920464,Scheduled,5,0 days 03:18:05,True

In [24]:
df1['Cancellation Time'] = pd.to_timedelta(df1['Cancellation Time'])
diff = df1['Cancellation Time'].diff()
mask = df1['Cancellation Time'].diff() > pd.Timedelta(5, unit='s')
df1['new'] = diff.where(mask)
df1.head()

,Personal or Business,Business Number,Vehicle Type,Standard or Express,Platform,Cancel Reason,Cancelled by,Placement Day,Placement Time,Confirmation Day,...,Cancellation Day,Cancellation Time,Distance (KM),Pickup Lat,Pickup Long,scheduled,id,diff,mask,new
0,Personal,NaN,Bike,Express,ios,NaN,Customer,1.0,15:23:44,1.0,...,1.0,0 days 16:43:50,4.0,-1.299370,36.822107,OnDemAND,1,NaT,False,NaT
1,Business,20680.0,Bike,Express,desktop,NaN,Staff,1.0,14:21:46,1.0,...,1.0,0 days 14:30:48,17.0,-1.264490,36.789303,OnDemAND,2,-1 days +21:46:58,False,NaT
2,Business,17968.0,Bike,Express,desktop,NaN,Customer,1.0,15:13:20,NaN,...,1.0,0 days 15:56:34,18.0,-1.427056,36.961499,OnDemAND,3,0 days 01:25:46,True,0 days 01:25:46
3,Personal,NaN,Bike,Standard,android,NaN,Customer,1.0,13:54:19,NaN,...,1.0,0 days 13:56:41,8.0,-1.301737,36.743936,OnDemAND,4,-1 days +22:00:07,False,NaT
4,Personal,NaN,Bike,Standard,android,NaN,Staff,1.0,13:24:05,1.0,...,1.0,0 days 17:14:46,13.0,-1.308098,36.920464,Scheduled,5,0 days 03:18:05,True,0 days 03:18:05

In [25]:
df1[['hour','minute','second']] = pd.to_timedelta(df1['Cancellation Time']).dt.components.iloc[:, 1:4]
df1.head()

,Personal or Business,Business Number,Vehicle Type,Standard or Express,Platform,Cancel Reason,Cancelled by,Placement Day,Placement Time,Confirmation Day,...,Pickup Lat,Pickup Long,scheduled,id,diff,mask,new,hour,minute,second
0,Personal,NaN,Bike,Express,ios,NaN,Customer,1.0,15:23:44,1.0,...,-1.299370,36.822107,OnDemAND,1,NaT,False,NaT,16.0,43.0,50.0
1,Business,20680.0,Bike,Express,desktop,NaN,Staff,1.0,14:21:46,1.0,...,-1.264490,36.789303,OnDemAND,2,-1 days +21:46:58,False,NaT,14.0,30.0,48.0
2,Business,17968.0,Bike,Express,desktop,NaN,Customer,1.0,15:13:20,NaN,...,-1.427056,36.961499,OnDemAND,3,0 days 01:25:46,True,0 days 01:25:46,15.0,56.0,34.0
3,Personal,NaN,Bike,Standard,android,NaN,Customer,1.0,13:54:19,NaN,...,-1.301737,36.743936,OnDemAND,4,-1 days +22:00:07,False,NaT,13.0,56.0,41.0
4,Personal,NaN,Bike,Standard,android,NaN,Staff,1.0,13:24:05,1.0,...,-1.308098,36.920464,Scheduled,5,0 days 03:18:05,True,0 days 03:18:05,17.0,14.0,46.0

In [26]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337 entries, 0 to 336
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Personal or Business  329 non-null    object
 1   Business Number       160 non-null    float64
 2   Vehicle Type          329 non-null    object
 3   Standard or Express   329 non-null    object
 4   Platform              329 non-null    object
 5   Cancel Reason         0 non-null      float64
 6   Cancelled by          329 non-null    object
 7   Placement Day         329 non-null    float64
 8   Placement Time        329 non-null    object
 9   Confirmation Day      106 non-null    float64
 10  Confirmation Time     106 non-null    object
 11  Cancellation Day      329 non-null    float64
 12  Cancellation Time     329 non-null    timedelta64[ns]
 13  Distance (KM)         329 non-null    float64
 14  Pickup Lat            329 non-null    float64
 15  Pickup Long           329 non-null    float64
 16  scheduled             329 non-null    object
 17  id                    337 non-null    int64
 18  diff                  328 non-null    timedelta64[ns]
 19  mask                  337 non-null    bool
 20  new                   152 non-null    timedelta64[ns]
 21  hour                  329 non-null    float64
 22  minute                329 non-null    float64
 23  second                329 non-null    float64
dtypes: bool(1), float64(11), int64(1), object(8), timedelta64[ns](3)
memory usage: 61.0+ KB

In [28]:
#dropping the columns we don't need
df1 = df1.drop(['Placement Time','Cancellation Time','Confirmation Time','Cancel Reason','diff','mask','new'], axis = 1)

In [29]:
from sklearn.preprocessing import LabelEncoder

labelEn = LabelEncoder()

df1['Personal or Business'] = labelEn.fit_transform(df1['Personal or Business'].astype(str))
df1['Vehicle Type'] = labelEn.fit_transform(df1['Vehicle Type'].astype(str))
df1['Standard or Express'] = labelEn.fit_transform(df1['Standard or Express'].astype(str))
df1['Platform'] = labelEn.fit_transform(df1['Platform'].astype(str))
df1['Cancelled by'] = labelEn.fit_transform(df1['Cancelled by'].astype(str))
df1['scheduled'] = labelEn.fit_transform(df1['scheduled'].astype(str))

In [30]:
df1.head()

,Personal or Business,Business Number,Vehicle Type,Standard or Express,Platform,Cancelled by,Placement Day,Confirmation Day,Cancellation Day,Distance (KM),Pickup Lat,Pickup Long,scheduled,id,hour,minute,second
0,1,NaN,0,0,3,0,1.0,1.0,1.0,4.0,-1.299370,36.822107,0,1,16.0,43.0,50.0
1,0,20680.0,0,0,2,1,1.0,1.0,1.0,17.0,-1.264490,36.789303,0,2,14.0,30.0,48.0
2,0,17968.0,0,0,2,0,1.0,NaN,1.0,18.0,-1.427056,36.961499,0,3,15.0,56.0,34.0
3,1,NaN,0,1,1,0,1.0,NaN,1.0,8.0,-1.301737,36.743936,0,4,13.0,56.0,41.0
4,1,NaN,0,1,1,1,1.0,1.0,1.0,13.0,-1.308098,36.920464,1,5,17.0,14.0,46.0

In [31]:
df1=df1.fillna(0)

In [32]:
df1.head()

,Personal or Business,Business Number,Vehicle Type,Standard or Express,Platform,Cancelled by,Placement Day,Confirmation Day,Cancellation Day,Distance (KM),Pickup Lat,Pickup Long,scheduled,id,hour,minute,second
0,1,0.0,0,0,3,0,1.0,1.0,1.0,4.0,-1.299370,36.822107,0,1,16.0,43.0,50.0
1,0,20680.0,0,0,2,1,1.0,1.0,1.0,17.0,-1.264490,36.789303,0,2,14.0,30.0,48.0
2,0,17968.0,0,0,2,0,1.0,0.0,1.0,18.0,-1.427056,36.961499,0,3,15.0,56.0,34.0
3,1,0.0,0,1,1,0,1.0,0.0,1.0,8.0,-1.301737,36.743936,0,4,13.0,56.0,41.0
4,1,0.0,0,1,1,1,1.0,1.0,1.0,13.0,-1.308098,36.920464,1,5,17.0,14.0,46.0

In [33]:
### predict on the test data
test_ = df1.drop(["id"], axis=1)
test_predictions = light.predict(test_)
submission_df = pd.DataFrame()
submission_df["id"] = df1["id"]
submission_df["Cancel Reason"] = test_predictions
# file
submission_df.to_csv("submission.csv", index=False)